#con {
	FONT-SIZE: 12px;
	WIDTH: 480px
}

#tags {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 0px 0px 10px;
	WIDTH: 480px;
	PADDING-TOP: 0px;
	HEIGHT: 24px
}

#tags li {
	BACKGROUND: url(../images/tagleft.png) no-repeat left bottom;
	FLOAT: left;
	MARGIN-RIGHT: 2px;
	LIST-STYLE-TYPE: none;
	HEIGHT: 24px
}

#tags li a {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	BACKGROUND: url(../images/tagright.png) no-repeat right bottom;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	COLOR: #333;
	LINE-HEIGHT: 24px;
	PADDING-TOP: 0px;
	HEIGHT: 24px;
	TEXT-DECORATION: none
}

#tags li.emptyTag {
	BACKGROUND: none transparent scroll repeat 0% 0%;
	WIDTH: 4px
}

#tags li.selectTag {
	BACKGROUND-POSITION: left top;
	MARGIN-BOTTOM: -2px;
	POSITION: relative;
/* 	HEIGHT: 25px */
}

#tags li.selectTag a {
	BACKGROUND-POSITION: right top;
	COLOR: #000;
/* 	LINE-HEIGHT: 25px; */
/* 	HEIGHT: 25px */
}

#tagContent {
	BORDER-RIGHT: #aecbd4 1px solid;
	PADDING-RIGHT: 1px;
	BORDER-TOP: #aecbd4 1px solid;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	BORDER-LEFT: #aecbd4 1px solid;
	PADDING-TOP: 1px;
	BORDER-BOTTOM: #aecbd4 1px solid;
	BACKGROUND-COLOR: #fff
}

.tagContent {
	DISPLAY: none;
	/* BACKGROUND: #d8ecf0; */
	COLOR: #474747;
	HEIGHT: 280px
}

.tagContenttab {
	DISPLAY: none;
/* 	BACKGROUND: url(../images/bg.gif) repeat-x; */
	COLOR: #474747;
}

#tagContent div.selectTag {
	DISPLAY: block
}

#mapmarkerwindowtab {
	width: 485px;
 	margin: 5px; 
	padding: 0px;
}

#mapmarkerwindowtab li,#mapmarkerwindowtab li.tabtop {
	list-style-type: none;
	width: 115px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	float: left;
	margin-left: 1px;
	margin-bottom: 1px;
	background: #C8EDFF;
	font-size: 12px;
}

#mapmarkerwindowtab li.tabtop {
	font-size: 12px;
	font-family: "微软雅黑";
	background: #98EAFF;
}

.markerDiv {
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	margin:5px 15px;
	border-bottom: 1px solid #ddd;
}

.markerDiv1 {
	height: 35px;
	line-height: 35px;
	font-size: 12px;
}


.markerlableleft {
	width: 80px;
	text-align: left;
	float: left;
}

.markerFZlableleft {
	width: 100px;
	text-align: right;
	float: left;
}

.markerlableright {
	text-align: left;
	float: left;
}

.markermiddleline {
	width: 100%;
	height: 25px;
	margin-top: 15px;
	line-height: 25px;
	font-size: 14px;
	font-family: '微软雅黑';
/* 	border-bottom: 1px solid #ccc; */
}

.contactHead{
        list-style:none;
        font-size:12px;
        padding:0px;
        margin:0px;
    }
    
    .contactHead li{
        background:#9ED0E6;
        font-weight: bold;
        border:1px solid #83ADBF;
        line-height:30px;
        width:125px;
        margin-right:-1px;
        float:left;
        text-align:center;
    }
    
    .contactDetails{
        clear:left;
        padding:0px;
        margin:0px;
        list-style:none;
        font-size:12px;
    }
    
    .contactDetails li{
        line-height:26px;
        
        height:28px;
        border:1px solid #83ADBF;
        width:125px;
        margin-top:-1px;
        margin-right:-1px;
        text-align:center;
        float:left;
    }