@charset "utf-8";
/* CSS Document */

.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
/* 	margin-top: 1px; */

	padding: 0px;
	margin-left: auto;
	border: none;
	outline: none;
	blr:expression(this.onFocus=this.blur());
}
.accordion a:focus{
	outline: none;
}
.accordion li {
	list-style: none;
}

/* Layout & Style */

.accordion li > a {
	display: block;
	position: relative;
	min-width: 168px;
	/*padding: 0 10px 0 0px;*/
	height: 40px;
	float:right;
	line-height:40px;
	text-align:right;
	color: #ffffff;
	/*font: bold 12px/32px Arial, sans-serif;*/
	text-decoration: none;
	/*text-shadow: 0px 1px 0px rgba(0,0,0, .35);*/
	background:url(../images/Menu_SHJK001.png);
	/*background: #6c6e74;
	background: -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6e74), color-stop(100%,#4b4d51));
	background: -webkit-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -o-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -ms-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);*/

	/*-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);*/
}

.accordion > li:hover > a,
.accordion > li:target > a,
.accordion > li > a.active {
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba(255,255,255, .2);
	text-align:right;
	height:40px;
	line-height:40px;
	background:url(../images/Menu_SHJK002.png) no-repeat;
	/*background: #a5cd4e;
	background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
	background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);	*/
}

.accordion li > a .Menu_one {
	display: block;
	letter-spacing:2px;
	position: absolute;
	right: 0;
	margin:8px 10px;
	margin-right: 40px;
	
	font: 16px "微软雅黑";
	/*background: #404247;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
	box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);*/
}

.accordion > li:hover > a span,
.accordion > li:target > a span,
.accordion > li > a.active span {
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0,0,0, .35);
}

/* Images */

.accordion > li > a:before {
	position: absolute;
	top: 0;
	right: 5px;
	content: '';
	width: 36px;
	height: 36px;
	margin: 2px;

	background-repeat: no-repeat;
/* 	background-image:url(../images/Menu_icons003.png); */
	background-position: 0px 0px;
}

.accordion li.files > a:before { background-position: 0px 0px; }
.accordion li.files:hover > a:before,
.accordion li.files:target > a:before,
.accordion li.files > a.active:before { background-position: 0px 0px; }

.accordion li.mail > a:before { background-position: -36px 0px; }
.accordion li.mail:hover > a:before,
.accordion li.mail:target > a:before,
.accordion li.mail > a.active:before { background-position: -36px 0px; }

.accordion li.cloud > a:before { background-position: -72px 0px; }
.accordion li.cloud:hover > a:before,
.accordion li.cloud:target > a:before,
.accordion li.cloud > a.active:before { background-position: -72px 0px; }

.accordion li.sign > a:before { background-position: -108px 0px; }
.accordion li.sign:hover > a:before,
.accordion li.sign:target > a:before,
.accordion li.sign > a.active:before { background-position: -108px 0px; }

.accordion li.informationquery > a:before { background-position: -144px 0px; }
.accordion li.informationquery:hover > a:before,
.accordion li.informationquery:target > a:before,
.accordion li.informationquery > a.active:before { background-position: -144px 0px; }

.accordion li.backstageManagement > a:before { background-position: -180px 0px; }
.accordion li.backstageManagement:hover > a:before,
.accordion li.backstageManagement:target > a:before,
.accordion li.backstageManagement > a.active:before { background-position: -180px 0px; }


/* Sub Menu */

.sub-menu li a {
	color: #fff;
	margin-top:1px;
	height:35px;
	line-height:35px;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);
	background:url(../images/MenuItem_Tab001.png);
	/*background: #e5e5e5;*/
	/*border-bottom: 1px solid #c9c9c9;*/

	/*-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);*/
}

.sub-menu li:hover a {
	background:url(../images/MenuItem_Tab002.png);
}

.sub-menu li:last-child a { border: none; }

.sub-menu li > a .Menu_two {
	color: #fff;
	font-size:12px;
	font-family:"微软雅黑";
	right: 0;
	padding: 0 10px;
	margin-right: 40px;
	letter-spacing:1px;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);
	background: transparent;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.topAdmin{
	color: #fff;
	font-size:12px;
	font-family:"微软雅黑";
	margin-top:10px;
	float:right;
	margin-right:8px;
}

.topShortcut{
	margin-top:10px;
	float:right;
	text-align:right;
/* 	margin-right:5px; */
}

.topRowHeight{
	margin-right:10px;
	height:20px;
}

.sub-menu em {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 14px;
	color: #a6a6a6;
	font: normal 10px/32px Arial, sans-serif;
}

/* Functionality */

.accordion li > .sub-menu {
	display: none;
	width: 168px;
}

.accordion li:target > .sub-menu {
	display: block;
}