




<script src="/realbowjc/static/realbow/js/drag.js" type="text/javascript"></script>
<script src="/realbowjc/static/realbow/js/drag.js" type="text/javascript"></script>
<link href="/realbowjc/static/realbow/css/mapmarker-window.css" type="text/css" rel="stylesheet" />

<div id="win" style="position: relative; left: 0px; top: 50px; margin:auto;">
    <div id="titledrag" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">数据上传</h4>
    </div>
    <div class="modal-body">
        <div style="text-align: center; margin-top:15px; margin-left:50px; overflow-y: auto; height: 350px;">
            <ul class="contactHead">
                <li style="width: 45%;">统计日期</li>
                <li style="width: 45%;">数据包数目</li>
            </ul>


            <ul class="contactDetails">
                <li style="width: 45%;">20190114</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20190113</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20190112</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20190111</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20190110</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20190109</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20190108</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20190107</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20190106</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20190105</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20190104</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20190103</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20190102</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20190101</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20181231</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20181230</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20181229</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20181228</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20181227</li>
                <li style="width: 45%;">0</li>
            </ul>

            <ul class="contactDetails">
                <li style="width: 45%;">20181226</li>
                <li style="width: 45%;">0</li>
            </ul>

        </div>
    </div>
    <div class="modal-footer">
        <!-- 	<button type="button" class="btn btn-primary " data-dismiss="modal">关闭</button> -->
    </div>
</div>
</body>
</html>