





<!DOCTYPE HTML>
<html>
<head>
    <title>企业信息</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <link href="/realbowjc/static/realbow/css/mapmarker-window.css" type="text/css" rel="stylesheet" />

</head>
<body style="background-color:transparent">
<div>
    <!-- 企业显示字段信息 -->
    <!-- 第一行 -->
    <div class="markerDiv">
        <div class="markerlableleft">企业名称：</div>
        <div title="晋城全聚德" class="markerlableright" >晋城全聚德</div>
    </div>

    <!-- 第二行 -->
    <div class="markerDiv">
        <div class="markerlableleft">企业地址：</div>
        <div title="新市西街49号" class="markerlableright" >新市西街49号</div>
    </div>
    <!-- 第三行 -->
    <div class="markerDiv">
        <div class="markerlableleft">营业状态：</div>
        <div class="markerlableright">正常营业</div>
    </div>
    <!-- 第四行 -->
    <div class="markerDiv">
        <div class="markerlableleft">所属：</div>
        <div class="markerlableright">城区</div>
    </div>
    <!-- 第五行 -->
    <div class="markerDiv">
        <div class="markerlableleft">风机台数：</div>
        <div class="markerlableright">1</div>
    </div>
    <!-- 第六行 -->
    <div class="markerDiv">
        <div class="markerlableleft">净化器台数：</div>
        <div class="markerlableright">1</div>
    </div>
    <!-- 第七行 -->
    <div class="markerDiv">
        <div class="markerlableleft">经度：</div>
        <div class="markerlableright">112.857038</div>
    </div>
    <!-- 第八行 -->
    <div class="markerDiv">
        <div class="markerlableleft">纬度：</div>
        <div class="markerlableright">35.506978</div>
    </div>

    <!-- 联系人信息 -->
    <div style="height:15px;">&nbsp;</div>
    <!-- 企业显示列表信息 -->
    <div>



        <ul class="contactHead">
            <li>联系人</li>
            <li>职务</li>
            <li>手机号码</li>
            <li>办公电话</li>
        </ul>

        <ul class="contactDetails">
            <li>郑主任</li>
            <li></li>
            <li>13313568306</li>
            <li></li>
        </ul>



    </div>
    <div style="height:15px;">&nbsp;</div>
</div>
</body>
</html>
