




<!DOCTYPE HTML>
<html>
<head>
    <title>My JSP 'gis_corp_info.jsp' starting page</title>
    <link href="/realbowjc/static/realbow/css/mapmarker-window.css" rel="stylesheet" type="text/css" />
    <script src="/realbowjc/static/jquery/jquery-1.11.0.min.js" type="text/javascript"></script>
</head>

<body>
<div>
    <!-- 第一行 -->
    <div class="markerDiv">
        <div class="markerlableleft">企业地址：</div>
        <div clas="markerlableright">新市东街438号</div>
    </div>
    <!-- 第二行 -->
    <div class="markerDiv">
        <div class="markerlableleft">所属：</div>
        <div clas="markerlableright">城区</div>
    </div>


    <!-- 详细信息 -->
    <div class="markermiddleline">&nbsp;</div>
    <!-- 告警信息列表 -->
    <div>
        <ul class="contactHead">
            <li style="width:106px;">报警日期</li>
            <li style="width:106px; text-overflow:ellipsis; overflow:hidden">设备名称</li>
            <li style="width:106px;">报警级别</li>
        </ul>


        <ul class="contactDetails">

            <li style="width:106px;">2019-01-27</li>

            <li title="净化器" style="width:106px; cursor: pointer; text-overflow:ellipsis;  overflow:hidden">净化器</li>



            <li style="width:106px;"><img src="/realbowjc/static/realbow/images/yujing_red0.png"></li>




        </ul>

        <ul class="contactDetails">

            <li style="width:106px;">2019-01-26</li>

            <li title="净化器" style="width:106px; cursor: pointer; text-overflow:ellipsis;  overflow:hidden">净化器</li>



            <li style="width:106px;"><img src="/realbowjc/static/realbow/images/yujing_red0.png"></li>




        </ul>

        <ul class="contactDetails">

            <li style="width:106px;">2019-01-25</li>

            <li title="净化器" style="width:106px; cursor: pointer; text-overflow:ellipsis;  overflow:hidden">净化器</li>



            <li style="width:106px;"><img src="/realbowjc/static/realbow/images/yujing_red0.png"></li>




        </ul>

        <ul class="contactDetails">

            <li style="width:106px;">2019-01-24</li>

            <li title="净化器" style="width:106px; cursor: pointer; text-overflow:ellipsis;  overflow:hidden">净化器</li>



            <li style="width:106px;"><img src="/realbowjc/static/realbow/images/yujing_red0.png"></li>




        </ul>


    </div>
</div>


</body>
</html>
